
.upload_erfolgreich{
  height: 700px;
  min-height: fit-content;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  place-items: center;
  gap: 1rem;
  & ul{

    padding: 3rem;
    border-radius: 10px;
    grid-column: 2;
    width: 80%;
    & li{
      font-size: $font-size-20;
      line-height: 3rem;
    }
  }
  & .user_Bild{
    grid-column: 3;
    display:flex;
    flex-direction: column;
    align-items: center;
    & img{
      margin-top: 3rem;
      width:80%;
      border-radius: 10px;
    }

    & span{
      margin: 20px 0;
      font-size: $font-size-20;
      color: $color-green;
    }

  }

  @media screen and(max-width: 868px){
    grid-template-columns: 5% 1fr 10%;
    grid-template-rows: repeat(2, 1fr);
    & ul{
       width: 100%;
        grid-column: 2;
        grid-row: 1;
        padding: 0;
        & li{
          margin: 1rem;
          font-size: $font-size-18;
          line-height: 3rem;

        }
      }   
      & .user_Bild{
        grid-column: 2;
        grid-row: 2;
    
    }
    }
 
  
}


